#map {
    width: 100%;
    margin: 0 auto; 
    float: left;
}

#timeseries {
    width: 100%; 
    margin: 0 auto; 
    float: left;
}

#scatter {
    width: 100%; 
    margin: 0 auto; 
    float: left;
}

#map-mode-btns{
    float: right;
}

.highcharts-tooltip>span {
    padding: 10px;
    white-space: normal !important;
    width: 200px;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.f32 .flag {
    vertical-align: middle !important;
}