<!DOCTYPE html>
<html lang="en">
<head>
	<!-- External References-->

	<!-- Bootstrap CSS  -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- select -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/css/bootstrap-select.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/js/bootstrap-select.min.js"></script>


	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/maps/modules/data.js"></script>
	<script src="//code.highcharts.com/maps/modules/map.js"></script>
	<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
	
	<!-- Flag sprites service provided by Martijn Lafeber, https://github.com/lafeber/world-flags-sprite/blob/master/LICENSE -->
	<link rel="stylesheet" type="text/css" href="https://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css" />

	<!-- Custom -->
	<link rel="stylesheet" href="/static/style.css">

	<!-- Icon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


</head>

<body>
    <title>{{title}}</title>
    <nav class="navbar navbar-toggleable-md navbar-inverse navbar-fixed-top bg-inverse">
      <a class="navbar-brand" href="#">WHO Bloomberg Visualisation</a>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active" >
            <a href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li>
            <a  href="/sources">Sources</a>
          </li>
          
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
              <select class="selectpicker form-control navbar-btn" id="source_picker" 
              multiple title="Select Display Sources..." data-selected-text-format="static">
                <optgroup label="Primary Source (Map)" data-max-options="1" id="source1">
                </optgroup>
                <optgroup label="Secondary Source" data-max-options="1" id="source2">
                </optgroup>
              </select> 
              
            </li>
            <li>
            <a href="#" data-toggle="modal" data-target="#help" >Help</a>
          </li>
        </ul>
        
      </div>
    </nav>

    <div class="wrapper">
      <div class="row">
        <nav class="col-xs-2 hidden-xs-down bg-faded sidebar" id="sidebar-nav">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" >Map View (Disabled)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Scatter View (Disabled)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#exporting" href='#'>Export</a>
            </li>
          </ul>
        </nav>
        <div id="dashboard" class="container col-xs-10 col-xs-offset-2">
          <h1>Dashboard</h1>
          <div class= "row">
                {% if error %}
                <div class="panel-body bg-danger"
                    <p><strong>Error:</strong> {{ error }}</p>
                </div>
                {% endif %}

                {% if success %}
                <div class="panel-body bg-success">
                    <p><strong>Success:</strong> {{ success }}</p>
                </div>
                {% endif %}

                <div class="panel panel-default col-md-6">
                    <div class="panel-body" id="map"></div>
                </div>
                <div class="panel panel-default col-md-6">
                    <div class="panel-body" id="scatter"></div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default col-md-12">
                    <div class="panel-body" id="timeseries"></div>
                </div>
            </div>
            <div id="exporting" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Export Data View</h4>
                  </div>
                  <div class="modal-body">
                    <p>Exporting not yet supported...</p>
                  </div>
                </div>
              </div>
            </div>
            <div id="help" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Need Help?</h4>
                  </div>
                  <div class="modal-body">
                    <p>That's unfortunate...</p>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
</body>
<div id="loader" class="modal-loader"><p class="lead" ></p></div> 

<footer class="footer-default">
        <script src="/static/app.js"></script>
    </footer>
</html>